html {
  height: 100%;
}
body {
   background-color: #E8FBFF
   width: 1000;
   height: 20%;
}

header {
    text-align: center;
    color: #fcfbff;
    font-size: 50;
    background-color: #dd3b2a;
    padding: 25px;
    display: block;
    border-radius: 10px;
}

.navul {

  }

nav {
    float: left;
    width: 100%;
     margin-left: 25%;
}
nav ul {
    padding: 0px;
    float: left;
    border-bottom: 100px;
    list-style-type: none;
    background-color: #00228F
}

nav li {
    padding: 0px;
    float: left;
}
nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
    vertical-align: middle;
}
a {
    color: #81868F;
}
section {
    text-align: center;
    width: 100%;
    display: inline-block;
    float: left;
}

#image {
    height: auto;
    width: 60%;
    border-radius: 8px;
}

aside {
    width: 17%;
    display: inline-block;
    background-color:;
    padding:;
    min-height: 100%;
}
aside ul {
    list-style-type: none;
}
footer {
    width: 790px;
    background-color:;
    color:;
    clear: both;
    display: block;
}
